:root {
    --primary-color: #A50044;  
    --secondary-color: #004D98; 
    --text-color: gold;
    --font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--secondary-color); 
    color: gold;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

h1 {
    margin-top: 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 15px 40px;
}

.logo {
    width: 60px; 
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    font-weight: bold;
}


.menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 30px;
    color: var(--text-color);
    cursor: pointer;
}


.matches-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.match-card {
    background-color: var(--primary-color);
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
}

.team-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.team-logo {
    width: 50px;
    height: 50px;
}

.match-details {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}


footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    margin-top: 0;
    height: 200px;
    padding: 85px;
    position: relative;
    top: 20px;
}

footer a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        background-color: var(--primary-color);
    }

    .nav-links li a {
        text-align: center;
        padding: 10px;
        font-size: 16px;
    }

    .menu-toggle:checked + .hamburger + .nav-links {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .match-card {
        width: 100%; 
        margin-bottom: 20px;
    }
}
